In [31]:
import pandas as pd

In [ ]:
## Import Data

In [67]:
data = pd.read_csv('../data/candyhierarchy2017.csv', encoding='ISO-8859-1')
data.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [68]:
# Cleaning up column names

In [56]:
# Cleaning up column names
column_names = []

for col in data.columns:
    # Split the name by spaces to remove any duplicate terms
    terms = col.split()
    unique_terms = []
    for term in terms:
        if term not in unique_terms:
            unique_terms.append(term)
    corrected_name = ' '.join(unique_terms)
    
    # Ensure consistent naming for demographic information
    corrected_name = corrected_name.replace('Going Out? GOING OUT?', 'Going Out?')\
                                   .replace('Gender GENDER', 'Gender')\
                                   .replace('Age AGE', 'Age')\
                                   .replace('Country COUNTRY', 'Country')\
                                   .replace('State-Province STATE- PROVINCE- COUNTY- ETC', 'State/Province')
    
    column_names.append(corrected_name)

# Update the DataFrame with corrected column names
data.columns = column_names

# Display the first few rows of the DataFrame with updated column names for verification
data.head()

,Internal ID,Going Out?,Gender,Age,Country,State/Province,100 Grand Bar,Anonymous brown globs that come in black and orange wrappers - Mary Janes,Any full-sized candy bar,Black Jacks,...,Q8 DESPAIR OTHER,Q9 OTHER COMMENTS,Q10 DRESS,Unnamed 113,Q11 DAY,Q12 MEDIA [Daily Dish],Q12 MEDIA [Science],Q12 MEDIA [ESPN],Q12 MEDIA [Yahoo],Click Coordinates x- y
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [69]:
# List of columns to be removed
columns_to_remove = [
    'Anonymous brown globs that come in black and orange wrappers - Mary Janes', 
    'Any full-sized candy bar', 
    'Black Jacks', 
    'Bonkers the board game', 
    'Broken glow stick', 
    'Candy that is clearly just the stuff given out for free at restaurants', 
    'Cash- or other forms of legal tender', 
    'Chardonnay', 
    'Chick-o-Sticks we donÃ•t know what that is', 
    'Creepy Religious comics-Chick Tracts', 
    'Dental paraphenalia', 
    'Fuzzy Peaches', 
    'Generic Brand Acetaminophen', 
    'Glow sticks', 
    'Gum from baseball cards', 
    'Healthy Fruit', 
    'Heath Bar', 
    'Hugs actual physical hugs', 
    'Jolly Rancher bad flavor', 
    'JoyJoy Mit Iodine!', 
    'Senior Mints', 
    'Kale smoothie', 
    "Blue M&M's", 
    "Red M&M's", 
    "Green Party M&M's",
    "Independent M&M's",
    "Abstained from M&M'ing.",
    'Minibags of chips', 
    'Mint Juleps', 
    'Pencils', 
    'Real Housewives of Orange County Season 9 Blue-Ray', 
    'Sandwich-sized bags filled with BooBerry Crunch',
    'Spotted Dick', 
    'Sweetums a friend to diabetes', 
    'Vials of pure high fructose corn syrup- for main-lining into your vein', 
    'Vicodin',
    'White Bread',
    'Whole Wheat anything',
    'Q11 DAY',
    'Q12 MEDIA [Daily Dish]',
    'Q12 MEDIA [Science]',
    'Q12 MEDIA [ESPN]',
    'Q12 MEDIA [Yahoo]',
]

# Remove the specified columns from the DataFrame
data = data.drop(columns=columns_to_remove, errors='ignore')

In [ ]:
###Splitting Dem from candy data

In [70]:
# List of demographic and additional information columns
demographic_columns = [
    'Internal ID',
    'Going Out?',
    'Gender',
    'Age',
    'Country',
    'State/Province',
    'Q7 JOY OTHER',
    'Q8 DESPAIR OTHER',
    'Q9 OTHER COMMENTS',
    'Q10 DRESS',
    'Unnamed 113',
    'Click Coordinates x- y'
]

# Separate out the demographics and additional information into a new DataFrame
dem = data_cleaned[demographic_columns]

# Create a DataFrame for candy preferences by dropping the demographic columns from the original DataFrame
candy = data_cleaned.drop(columns=demographic_columns, errors='ignore')

# Add the 'Internal ID' column back to the candy preferences DataFrame for reference
candy['Internal ID'] = data['Internal ID']

# Reorder columns to have 'Internal ID' as the first column in the candy preferences DataFrame
candy = candy[['Internal ID'] + [col for col in candy.columns if col != 'Internal ID']]

In [72]:
###Filter Age

In [74]:
# Filter the Age column to include only values between 2 and 110, replace others with NaN
dem.loc['Age'] = dem['Age'].apply(pd.to_numeric, errors='coerce')  # Ensure age is numeric
dem.loc['Age'] = dem['Age'].where(dem['Age'].between(2, 110))

# Display the first few rows to verify the changes
dem.head()

C:\Users\jacob\AppData\Local\Temp\ipykernel_39328\17644392.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dem.loc['Age'] = dem['Age'].apply(pd.to_numeric, errors='coerce')  # Ensure age is numeric

,Internal ID,Going Out?,Gender,Age,Country,State/Province,Q7 JOY OTHER,Q8 DESPAIR OTHER,Q9 OTHER COMMENTS,Q10 DRESS,Unnamed 113,Click Coordinates x- y
0,90258773.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821.0,No,Male,44.0,USA,NM,Mounds,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,"(84, 25)"
2,90272829.0,NaN,Male,49.0,USA,Virginia,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840.0,No,Male,40.0,us,or,"Reese's crispy crunchy bars, 5th avenue bars, ...",NaN,Raisins can go to hell,White and gold,NaN,"(75, 23)"
4,90272841.0,No,Male,23.0,usa,exton pa,NaN,NaN,NaN,White and gold,NaN,"(70, 10)"